<h6 class="media-heading">
  <span class="glyphicon glyphicon-flag"></span>&nbsp;
  <%=link_to event.source.name, user_path(event.source)%>
  <span>完成了这条任务：<%=link_to event.eventable.content, todo_path(event.eventable)%> </span>
</h6>
<p></p>