#For todo.created.default
<h6 class="media-heading">
  <span class="glyphicon glyphicon-folder-open"></span>&nbsp;
  <%=link_to event.source.name, user_path(event.source)%>
  <span>
    修改了任务：<%=link_to event.eventable.owner.name, user_path(event.eventable.owner)%>
  </span>
</h6>
<p></p>