<h6 class="media-heading">
  <span class="glyphicon glyphicon-folder-open"></span>&nbsp;
  <%=link_to event.source.name, user_path(event.source)%>
  <span>修改了这个任务的结束日期：<%=link_to event.eventable.content, todo_path(event.eventable)%> </span>
</h6>
<p><%= event.from %> -> <%= event.to %></p>